@tailwind base;
@tailwind components;
@tailwind utilities;



.google-si{
  width: 23px;
  height: 26px;
  position: absolute;
  top:6px;
  left:49px;
}

.dashboard-left{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
  margin-right: 15px;
  margin-left: 20px;
  min-height: 98vh;
  border-radius: 20px;
  
}

.dashboard-popup{
  width: 50vw;
  height: 80vh;
  background-color: white;
  overflow-y: scroll;
  border-radius: 10px;
}